name: Auto Multistream Sync
on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

# This stops a second relay from starting if one is already running
concurrency:
  group: multistream-relay
  cancel-in-progress: false 

jobs:
  relay:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Check Twitch Status
        id: check_live
        run: |
          CONTENT=$(curl -s https://www.twitch.tv/werewolf3788)
          if [[ "$CONTENT" == *"isLiveBroadcast\":true"* ]]; then
            echo "STATUS=LIVE" >> $GITHUB_ENV
          else
            echo "werewolf3788 is OFFLINE."
            exit 0
          fi

      - name: Multistream Relay
        if: env.STATUS == 'LIVE'
        run: |
          # The -re flag is important for cloud stability
          timeout 10740s ffmpeg -re -i "rtmp://mia05.contribute.live-video.net/app/${{ secrets.TWITCH_KEY }}" \
            -c copy -f flv "${{ secrets.RESTREAM_URL }}/${{ secrets.RESTREAM_KEY }}" \
            -c copy -f flv "rtmp://a.rtmp.youtube.com/live2/${{ secrets.YOUTUBE_KEY }}" \
            -c copy -f flv "rtmp://fa637.kick.com/app/${{ secrets.KICK_KEY }}" \
            -c copy -f flv "rtmp://live.trovo.live/live/${{ secrets.TROVO_KEY }}" \
            -c copy -f flv "rtmps://live-api-s.facebook.com:443/rtmp/${{ secrets.FACEBOOK_KEY }}"
